mixin dropdown-container(type, title, value, mods)
  -
    var allMods = '';
    var datepickerClasses = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' dropdown--' + modsList[i].trim();
      }
      if(type === 'datepicker') {
        datepickerClasses = datepickerClasses + ' datepicker-here js-datepicker-input';
      }
      if(mods.includes('ranged')) {
        datepickerClasses = datepickerClasses + ' -ranged- js-datepicker-input--ranged';
      }
    }

  .dropdown(class=allMods data-type=type)
    - 
    input.dropdown__input(type='button' class=datepickerClasses value=value)
    svg.dropdown__arrow
      use(xlink:href='#expansion')
    if type !== 'datepicker'
      .dropdown__inner
        block 
        if(mods.includes('extended'))
          .dropdown__buttons
            +button('очистить','button')(data-action='clear')
            +button('применить','button','purple')(data-action='apply')
        

mixin dropdown-item(title)
  .dropdown__item
    h3!=title
    +input-number()