mixin input(title, typ, placeholder, mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' nav_' + modsList[i].trim();
      }
    }
    if(title)
  h3!=title
  .input
    case typ
      when 'date'
        input.input__field(type='text' placeholder=placeholder class=allMods pattern='(30|31|0[1-9]|[1-2][0-9]).(0[1-9]|1[0-2]).\\d\\d\\d\\d') 
      when 'email'
        input.input__field(type=typ placeholder=placeholder class=allMods ) 
        svg.input_subscription
          use(xlink:href='#arrow-right')
      default
        input.input__field(type=typ placeholder=placeholder class=allMods) 

mixin input-checkbox(label)
  label.input-checkbox!= label
    input(type='checkbox')
    +icon('checkmark').checkmark


    