mixin input-field(kind, text, mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' input--' + modsList[i].trim();
      }
    }
  case kind
    when 'date'
      .input(class=allMods)
        input.input__field(type='text' placeholder=text pattern='(30|31|0[1-9]|[1-2][0-9]).(0[1-9]|1[0-2]).\\d\\d\\d\\d') 
    when 'email'
      .input(class=allMods)
        input.input__field(type='email' placeholder=text)
        +icon('arrow-right').input__arrow
    when 'text'
      .input(class=allMods)
        input.input__field(type='text' placeholder=text) 
        
mixin input-checkbox(kind, text, title)
  .input-button
    label.input-button__label(class = 'input-button__label--checkmark')
      if (title)
        .input-button__title(class = 'input-button__title--checkmark')!=title
      input.input-button__input(class = 'input-button__input--checkmark' type='checkbox')
      .input-button__text(class = 'input-button__text--checkmark')!=text
      +icon('checkmark').input-button__mark(class = 'input-button__mark--checkmark')
  
mixin input-radio(text, name)
  .input-button.input-button--radio
    label.input-button__label.input-button__label--radio
      input.input-button__input.input-button__input--radio(type='radio' name=name)
      span.input-button__mark.input-button__mark--radio
      span.input-button__text.input-button__text--radio!=text

mixin input-toggle(text)
  .input-button--toggle
    label.input-button__label.input-button__label--toggle
      input.input-button__input.input-button__input--toggle(type='checkbox')
      .input-button__mark.input-button__mark--toggle
      .input-button__text.input-button__text--toggle!=text

mixin input-like(count, id)
  .input-button.input-button--like
    label.input-button__label.input-button__label--like
      input.input-button__input.input-button__input--like(type='checkbox')
      span.input-button__text.input-button__text--like!=count
      +icon('like').input-button__mark.input-button__mark--like

mixin input-stars(countOfFilled, disabled)
  .input-button.input-button--star.js-input-button--star(class = `${disabled? 'input-button--disabled' : ''}`)
    - for(var i = 0; i < countOfStars; i++) 
        label.input-button__label.input-button__label--star
          input.input-button__input.input-button__input--star.js-input-button__input(type='checkbox' checked)
          +icon('star').input-button__mark.input-button__mark--star
    - for(var i = countOfStars; i < 5; i++) 
        label.input-button__label.input-button__label--star
          input.input-button__input.input-button__input--star.js-input-button__input(type='checkbox')
          +icon('star').input-button__mark.input-button__mark--star

mixin input-number()
  .input-number
    button(class="js-input-number__button-decrease input-number__button" data-action='decrease') -
    input(min='0' value='1' type='number' class="js-input-number__input input-number__input")
    button(class="js-input-number__button-increase input-number__button" data-action='increase') +





  