mixin input(title, typ, placeholder, mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' input_' + modsList[i].trim();
      }
    }
  - if(title)
    h3!=title
  .input
    case typ
      when 'date'
        input.input__field(type='text' placeholder=placeholder class=allMods pattern='(30|31|0[1-9]|[1-2][0-9]).(0[1-9]|1[0-2]).\\d\\d\\d\\d') 
      when 'email'
        .input_arrowed
          input.input__field(type=typ placeholder=placeholder class=allMods ) 
          svg.input_arrow
            use(xlink:href='#arrow-right')
      default
        input.input__field(type=typ placeholder=placeholder class=allMods) 

mixin input-checkbox(label, tittle)
  .input-button
    - if (tittle)
    h2.tittle-checkbox!=tittle
    input(type='checkbox' id=label.replace(/ /g,'-'))
    +icon('checkmark').checkmark-checkbox
    label(for=label.replace(/ /g,'-'))!= label

mixin input-radio(label, name)
  .input-button
    input(type="radio" name=name id=name + '-' + label.replace(/ /g,'-'))
    span.checkmark-radio
    label(for=name + '-' + label.replace(/ /g,'-'))!= label

mixin input-toggle(label)
  .input-button.input-button_toggle
    label!= label
      input(type='checkbox')
      span.checkmark-toggle

mixin input-like(count, id)
  .input-button
    input(type='checkbox' checked id=id)
    +icon('like').checkmark-like
    label(for=id)!= count

mixin input-stars(countOfFilled, countOfStars)
  .input-button.input-button_star
    - for(var i = 0; i < countOfFilled; i++) { 
      label.label-star
        input(type='checkbox' checked)
        +icon('star').checkmark-star
    - }
    - for(countOfFilled; countOfFilled < countOfStars; countOfFilled++) {
      label.label-star
        input(type='checkbox')
        +icon('star').checkmark-star
      - }

mixin input-number()
  .input-number
    button(class="input-number_left" data-action='decrease') -
    input(min='0' value='1' type='number')
    button(class="input-number_right" data-action='increase') +





  