mixin pill(number, kind, price, servicesCost, extraCost)
  .pill.js-pill
    .pill__title
      div
        span.pill__room-number!='№&nbsp;'
          h1!=number
          if kind
            h3.pill__room-kind!=`&nbsp;&nbsp;${kind}`
      .pill__room-price.js-pill__room-price(data-price=price)
        b!=`${price.toLocaleString().replace(/,/g,' ')}₽ `
        | в сутки
    .pill__inner
      +form-search
    .pill__info
      .pill__cost
        .pill__cost-text.js-pill__cost-text!= `${price.toLocaleString().replace(/,/g,' ')}₽ x 0 суток`
        .pill__cost-cost.js-pill__cost-cost 0₽
      .pill__services
        .pill__services-text.js-pill__services-text Сбор за услуги: скидка 2 179₽
          i.pill__info-icon i
          .pill__text-info Дополнительная информация по полю "Сбор за услуги"
        .pill__services-cost.js-pill__services-cost!=`${servicesCost.toLocaleString().replace(/,/g,' ')}₽ `
      .pill__extra
        .pill__extra-text Сбор за дополнительные услуги
          i.pill__info-icon i
          .pill__text-info Дополнительная информация по полю "Сбор за дополнительные услуги"
        .pill__extra-cost.js-pill__extra-cost!=`${extraCost.toLocaleString().replace(/,/g,' ')}₽ `
    .pill__summary
      h2 Итого
      .pill__underline
      h2.pill__summary-cost.js-pill__summary-cost 
    +column-item('','','button-filled')
      +button('забронировать','a', 'oval,filled,link')