mixin column(mods = 'L')
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' column--' + modsList[i].trim();
      }
    }
  .column(class=allMods)
    block

mixin column-item(title, hint, mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' column__item--' + modsList[i].trim();
      }
    }
  .column__item(class=allMods)
    if(title)
      -if(mods && mods.includes('comments'))
        .columnn__title
          h2!=title
          if(hint)
            .column__hint!=`${hint} отзыва`
      -else 
        .columnn__subtitle
          h3!=title
          if(hint)
            .column__hint!=hint
    block