mixin card(pics, number, kind, price, reviewsCount)
  .card
    .card__image
      .card__slider.js-card__slider
        each pic in pics.split(';')
          .card__photo-container
            img.card__photo(src=require(`../components/card/img/${pic}`).default alt="photo alt")
    .card__inner
      .card__title
        div
          span.card__room-number!='№&nbsp;'
            h2!=number
            if kind
              h3.card__room-kind!=`&nbsp;&nbsp;${kind}`
        .card__room-price.js-card__room-price(data-price=price)
          b!=`${price.toLocaleString().replace(/,/g,' ')}₽ `
          | в сутки
      .card__review
        +input-stars(5)
        .card__reviews-count
          b!= `${reviewsCount} `
          | Отзывов
